{% extends 'mamazon/home.html' %}

{% load static %}

{% block products %}
<li class="span3">
    {% for object in object_list %}
        <div class="thumbnail">
            <a href="product_details.html"><img src="{{ object.thumbnail.url }}" alt="" /></a>
            <div class="caption">
                <h5>{{ product.name }}/h5>
                <p>
                    {{ object.description }}
                </p>

                <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i
                            class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i
                            class="icon-shopping-cart"></i></a>
                    <a class="btn btn-primary" href="#">${{ object.price }}</a></h4>
            </div>
        </div>
    {% endfor %}
</li>
{% endblock products %}